---
- hosts: all
  become: true
  vars:
    resolv_conf: "/home/vagrant/ansible/templates/resolv.j2"
    hosts_file: "/home/vagrant/ansible/templates/dc-hosts.j2"
    sssd_file: "/home/vagrant/ansible/templates/sssd.j2"
    nsswitch: "/home/vagrant/ansible/templates/nsswitch.j2"
  tasks:
  - name: Update Cache
    apt:
      update_cache: yes

  - name: Upgrade all packages
    apt:
      upgrade: 'full'
      
  - name: Stop and disable systemd-resolved
    systemd:
      name: systemd-resolved
      state: stopped
      enabled: no

  - name: delete /etc/resolv.conf link or file
    file:
      path: /etc/resolv.conf
      state: absent

  - name: copy over resolv.conf for dc
    copy:
      src: "{{ resolv_conf }}"
      dest: /etc/resolv.conf

  - name: Ensure resolv.conf is immutable.
    file:
      path: /etc/resolv.conf
      attr: i      

  - name: Restart machine
    ansible.builtin.reboot:      

  - name: install required packages on dc
    apt:
      name: "{{ item }}"
      update_cache: yes
    loop:
      - krb5-user
      - sssd-ad
      - sssd-tools
      - realmd
      - adcli
      - dnsutils
      - chrony

  # - name: Stop and disable systemd-resolved
  #   systemd:
  #     name: "{{ item }}"
  #     state: stopped
  #     enabled: no
  #   loop:
  #     - samba-ad-dc.service
  #     - smbd.service
  #     - nmbd.service
  #     - winbind.service

  - name: copy over sssd for dc
    copy:
      src: "{{ sssd_file }}"
      dest: /etc/sssd/sssd.conf

  - name: set sssd.conf file permissions and root ownership
    ansible.builtin.file:
      path: /etc/sssd/sssd.conf
      owner: root
      mode: '0600'

  - name: Copy over nsswitch
    copy:
      src: "{{ nsswitch.j2 }}"
      dest: /etc/nsswitch.conf
            
  - name: Restart machine
    ansible.builtin.reboot:

  - name: join the realm
    command: realm join -v example.dragonflysys.com --no-password
