[libdefaults]
   default_realm = EXAMPLE.DRAGONFLYSYS.COM
   dns_lookup_realm = false
   dns_lookup_kdc = true

[realms]
   EXAMPLE.DRAGONFLYSYS.COM = {
      kdc = SERVER1.EXAMPLE.DRAGONFLYSYS.COM
      default_domain = EXAMPLE.DRAGONFLYSYS.COM
      admin_server = SERVER1.EXAMPLE.DRAGONFLYSYS.COM
   }
   EXAMPLE = {
      kdc = SERVER1.EXAMPLE.DRAGONFLYSYS.COM
      default_domain = EXAMPLE.DRAGONFLYSYS.COM
      admin_server = SERVER1.EXAMPLE.DRAGONFLYSYS.COM
   }

[domain_realm]
    .internal.domain.tld = EXAMPLE.DRAGONFLYSYS.COM

[appdefaults]
    pam = {
        ticket_lifetime = 1d
        renew_lifetime = 1d
        forwardable = true
        proxiable = false
        minimum_uid = 1
    }
