# /etc/nsswitch.conf
passwd: files winbind sss systemd
group: files winbind sss systemd
shadow: files winbind sss systemd
gshadow: files

hosts: files dns
networks: files

protocols: db files
services: db files winbind sss
ethers: db files
rpc: db files

netgroup: nis winbind sss
sudoers: files winbind sss
automount: winbind sss
