[global]
	dns forwarder = 8.8.8.8
	netbios name = DC
	realm = EXAMPLE.DRAGONFLYSYS.COM
	server role = active directory domain controller
	workgroup = EXAMPLE
	idmap_ldb:use rfc2307 = yes
	idmap config * : backend = tdb
	idmap config * : range = 3000-7999
	idmap config EXAMPLE:backend = rid
	idmap config EXAMPLE : range = 10000-999999

	template shell = /bin/bash
	template homedir = /home/%U

[sysvol]
	path = /var/lib/samba/sysvol
	read only = No

[netlogon]
	path = /var/lib/samba/sysvol/example.dragonflysys.com/scripts
	read only = No