[global]
	dns forwarder = 8.8.8.8
	netbios name = DC
	realm = EXAMPLE.DRAGONFLYSYS.COM
	server role = active directory domain controller
	workgroup = EXAMPLE
        # UID/GID mapping for local users
        idmap config * : backend = tdb
        idmap config * : range = 3000-7999

        # UID/GID mapping for domain users
        idmap config INTERNAL : backend = ad
        idmap config INTERNAL : schema_mode = rfc2307
        idmap config INTERNAL : range = 10000-999999
        idmap config INTERNAL : unix_nss_info = yes

	template shell = /bin/bash
	template homedir = /home/%U

	winbind offline login = yes
	winbind refresh tickets = yes
	valid users = all

[sysvol]
	path = /var/lib/samba/sysvol
	read only = No

[netlogon]
	path = /var/lib/samba/sysvol/example.dragonflysys.com/scripts
	read only = No