[global]
	dns forwarder = 8.8.8.8
	netbios name = DC
	realm = EXAMPLE.DRAGONFLYSYS.COM
	server role = active directory domain controller
	workgroup = EXAMPLE
        # UID/GID mapping for local users
	idmap config *:backend = rid
      	idmap config *:range = 10000-1000000
	template shell = /bin/bash
	template homedir = /home/%U

	winbind offline login = yes
	winbind refresh tickets = yes
	valid users = all

[sysvol]
	path = /var/lib/samba/sysvol
	read only = No

[netlogon]
	path = /var/lib/samba/sysvol/example.dragonflysys.com/scripts
	read only = No